 <div class="content_post" style="background-image: url(<%= blog.image %>);">
   <div class ="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class ="more_list">
     <li>
      <%= link_to '詳細', "/blogs/#{blog.id}", method: :get %>
     </li>
     <% if user_signed_in? && current_user.id == blog.user_id %>
     <li>
        <%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
     </li>
     <li>
      <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %>
     </li>
     <% end %>
    </ul>
   </div>
   <%= simple_format(blog.text) %>
   <span class ="name">
    <a href ="">
     <span>投稿者</span><%= blog.user.nickname %>
    </a>
    </span>
   </div>