<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <ul class="nav navbar-nav navbar-right">
     <% if user_signed_in? %>
        <li><%= link_to " Home", user_path(current_user.id), method: :get, class: "glyphicon glyphicon-home home" %></li>
        <li><%= link_to " Users", users_path, method: :get, class: "glyphicon glyphicon-user users" %></li>
        <li><%= link_to " Books", books_path, method: :get, class: "glyphicon glyphicon-book books" %></li>
        <li><%= link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %></li>
     <% else %>
        <!--<li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>-->
        <!--<li><a class="glyphicon glyphicon-link about" href="/home/about"> About</a></li>-->
        <li><%= link_to " Home", "/", class: "glyphicon glyphicon-home home" %></li>
        <li><%= link_to " About", "/home/about", class: "glyphicon glyphicon-link about" %></li>
        <li><%= link_to " sign up",new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %></li>
        <li><%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %></li>
     <% end %>
    </ul>
  </div>
</nav>
  <body>
    <%= yield %>
  </body>
  <!--各ページ共通フッター-->
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <p clss ="center-block">©︎ CopyRigh</p>
      </div>
    </div>
  </div>
</footer>
</html>
