<div class="body">
  <div class="container">
    <p id ="notice"></p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Editing Book</h1>
        <% if @book.errors.any? %>
        　　<h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
        　　<ul>
        　　　　  <% @book.errors.full_messages.each do |message| %>
        　　　　    <li><%= message %></li>
        　　　　  <% end %>
        　　</ul>
        <% end %>
        <%= form_with model:@book, local:true do |f| %>
          <div class="field">
            <%= f.label :title, "Title" %>
            <br>
            <%= f.text_field :title, class: "col-xs-12 book_title" %>
          </div>
          <div class="field">
            <%= f.label :body, "Opinion" %>
            <br>
            <%= f.text_area :body, class: "col-xs-12 body_title" %>
          </div>
          <%= f.submit "Update Book", class: "btn btn-primary btn-update col-xs-12" %>
        <% end %>
        <%= link_to "Show", book_path(@book.id), method: :get %>
        <span> | </span>
        <%= link_to "Back", books_path, method: :get %>
      </div>
    </div>
  </div>
</div>