<div class="body">
  <div class="container">
    <p id ="notice"></p>
    <%= flash[:notice] %>
    <% if @book.errors.any? %>
        <h2><%= @book.errors.count %>error prohibited this obj from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <%= attachment_image_tag @login_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= current_user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <%= link_to "", edit_user_path(current_user.id),method: :get, class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
        </div>
        <h2>New book</h2>
        <%= form_with model:@book, local:true do |f| %>
         <div class="field">
          <%= f.label :title, "Title" %>
          <br>
          <%= f.text_field :title, class: "col-xs-12 book_title" %>
         </div>
         
         <div class="field">
           <%= f.label :body, "Opinion" %>
           <br>
           <%= f.text_area :body, class: "col-xs-12 book_body" %>
         </div>
         <%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
        <% end %>
      </div>
      <div class="col-xs-9">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
         <thead>
           <tr>
             <th></th>
             <th>Title</th>
             <th>Opinion</th>
             <th colspan ="3"></th>
           </tr>
         </thead>
         <% @books.each do |book| %>
         <tbody>
           <tr>
             <!--<td><a href ="/users/<!%= book.user.id %>"><!%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></a></td>-->
             <td><%= link_to user_path(book.user.id) do %>
                     <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
                 <% end %>
             </td>
             <td><%= link_to "#{book.title}", book_path(book.id), method: :get %></td>
             <td><%= book.body %></td> 
           </tr>
         </tbody>
         <% end %>
        </table>
      </div>
    </div>
  </div>
</div>